<link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400;700&display=swap" rel="stylesheet">
<footer class="footer" *ngIf="!shouldHideFooter()">
    <div class="container">
        <div class="footer-left">
            <a href="/"><h2><span class="fit">Train</span><span class="flow">Flow</span></h2></a>
            <p>Transform your life with our app.</p>
            <div class="social-icons">
                <a href="#"><img src="/images/mreže.png" alt="social media"></a>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>TrainFlow</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
